[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/magic_enum"]
	path = External/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "External/freetype"]
	path = External/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Spectrum"]
	path = Spectrum
	url = ../Spectrum.git
[submodule "Commodore"]
	path = Commodore
	url = ../Commodore.git
[submodule "PS4"]
	path = PS4
	url = ../PS4.git
[submodule "XboxOne"]
	path = XboxOne
	url = ../XboxOne.git
[submodule "Switch"]
	path = Switch
	url = ../Switch.git
