[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/simul/fmt.git
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/freetype"]
	path = External/freetype
	url = https://github.com/freetype/freetype.git
[submodule "External/magic_enum"]
	path = External/magic_enum
	url = git@github.com:Neargye/magic_enum.git
